*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
    position: absolute;

}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    background-image: url(./imagens/pexels-juris-freidenfelds-927897-2013672.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid gray;
    z-index: 1;
}
nav{
    display: none;
    position: relative;
    top: 85%;
    margin-left: 10px;
}
#nav-portable{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
li{
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
li:not(:last-child){
    margin-right: 10px;
}
main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black url(./imagens/main\ desk.jpg) center center no-repeat fixed;
    background-size: cover;
    filter: brightness(50%);
    
}

#nav-main{
    height: 100vh;
    width: 200px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 0px 7px 7px 0px;
    position: absolute;
    z-index: 1;
    left: -200px;
    transition: .5s;
}
#navmain nav ul li a{
    display: block;
}
#home{
    position: absolute;
    z-index: 3;
}
@media only screen and (min-width: 600px) {
    nav{
        display: block;
    }

    #nav-portable{
        display: none;
       
    }
    main{
        background: black url(./imagens/main\ port.jpg) center center no-repeat fixed;
        background-size: cover; 
    }
}