@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;

}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    background-image: url(./imagens/lands.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid gray;
    z-index: 3;
}
nav{
    display: none;
    position: relative;
    top: 85%;
    margin-left: 10px;
}
#nav-portable{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
li{
    display: inline;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
li:not(:last-child){
    margin-right: 10px;
}
main{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    backdrop-filter: blur(10px );
}

#nav-main{
    height: 100vh;
    width: 50px;
    position: relative;
    transition: .5s;
    z-index: 0;
    background-image: linear-gradient(to right, rgb(0, 17, 0), rgb(23, 34, 23));
    
}
#conteudo{
    white-space: wrap;
    font-size: 0.5rem;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    background: black url(./imagens/main\ desk\ att2.png) center center no-repeat fixed;
    background-size: cover;
}
#conteudo h1{
    margin-bottom: 200px;
}
#conteudo p{
    font-size: 1em;
}
#icons{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
#menu{
    appearance: none;
    display: none;
    
}
#menu:checked ~ #nav-main .txt{
    display: block;
    position: relative;
    left: 0px;
    
}
#icons:hover > .icon-box:not(:hover){
    filter: opacity(50%);
    transition: .5s;
}
.txt{
    display: block;
    position: relative;
    left: -200px;
    transition: .5s;
}

input:checked ~ #nav-main{
    width: 200px;
    transition: .5s;
}

.ic{
    cursor: pointer;
    display: block;
    margin: auto; 
}
#nav-main label{
    margin-bottom: 30px;
}

.icon-box:not(:last-child){
    margin-bottom: 30px;
}
.icon-box{
    text-align: center;
    display: block;
    color: white;
}


@media only screen and (min-width: 600px) {
    nav{
        display: block;
    }

    #nav-portable{
        display: none;
       
    }
    main{
        background: black url(./imagens/main\ port.jpg) center center no-repeat fixed;
        background-size: cover; 
    }
}