*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
header{
    width: 100%;
    height: 200px;
    background-image: url(./imagens/pexels-juris-freidenfelds-927897-2013672.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
}
