body{
   background: black url(./imagens/fundo-madeira.jpg) center center no-repeat fixed;
   background-size: cover;
    
}
#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 630px;
}
#tela-inicial{
    position: absolute;
    background: black url(./imagens/tela-home.jpg) center center no-repeat fixed;
    background-size: cover;
    width: 270px;
    height: 474px;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -50%);
}
nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}
a > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 1px 7px 0.8px rgba(0, 0, 0, 0.692);
    
}
img:hover{
    border-radius: 50%;
    border: 1.5px solid white;
    transition: 1s;
    animation: ani 0.5s;
}
@keyframes ani{
    from{
        border: 1.5px solid rgb(6, 14, 117);
    }
    to{
        border: 1.5px solid white;
        transform: translate(-5%, -5%);
    }
}
