*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: rgb(37, 34, 34);
}
ul{
    display: block;
    position: relative;
    left: -100px;
    transition: .5s;
    list-style-type: none;
    
}
main{
    display: flex;
   
}
nav{
    cursor: pointer;
}
li:not(:last-child){
    margin-bottom: 20px;
}
div{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}
@media only screen and (min-width: 768px){
    div{
        width: 50vw;
    }
}

@media only screen and (min-width: 992px){
    ul{
        position: relative;
        left: 10px;
        transition: .5s;
    }
}