*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul{
    display: block;
    position: relative;
    left: -100px;
    transition: .5s;
    
}
main{
    display: flex;
   
}
nav{
    cursor: pointer;
    
}
div{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}
@media only screen and (min-width: 768px){
    div{
        width: 50vw;
    }
}