@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --font: "Rasa", serif;
    --font2: "Pacifico", serif;
    --cor1: #011C26;
    --cor2: #024059;
    --cor3: #03658C;
    --cor4: #0367A6;
    --cor5: #0477BF;
}
body, html{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
     background-image: linear-gradient(to right, var(--cor1), var(--cor5));
}

h1, p{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.541);
}
header{
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    position: fixed;
    width: 100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 0px;
    box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
    z-index: 1;
}
header > div > h1, p{
    text-align: center;
    margin: 0;
    
}
header > div > h1{
    font-family: var(--font2);
    font-size: 3rem;
    color: white;
}
header > div > p{
    font-family: var(--font);
    color: white;
    font-style: italic;
}
#logo{
   margin: auto;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
}
img{
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
    border: 1px solid rgba(255, 255, 255, 0.411);
}
nav{
    display: flex;
    gap: 50px;
    
}
nav > a{
    display: block;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: .8rem;
    color: white;
    font-weight: bold;
}
nav > a:hover{
    font-size: .9rem;
    transition: 0.1s;
}
#bnav{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
#nav2{
    margin-right: 20px;
}
#nav1{
    margin-left: 20px;
}
#lupa{
    display: flex;
    gap: 5px;
    align-items: end;
}
#lupa > input {
    margin: 0;
}
main{
    
    width: 100%;
    height: 100%;
}
form{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 700px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor5));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
}

#bem-vindo{
    width: 450px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}
#txt1{
    font-family: var(--font2);
    font-size: 3rem;
    margin: 0;
    text-align: center;
}
h2{
    font-family: var(--font2);
    font-size: 2rem;
    margin: 0;
    text-align: center;
    margin-top: 50px;
}
#login{
    display: flex;
    flex-direction: column;
    background-color: var(--cor5);
    color: white;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    font-family: var(--font);
    box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
}
#cad{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    height: 23px;
    outline: none;
    border-radius: 5px;
    border: 0.1px solid rgba(255, 255, 255, 0.164);
    background-color: transparent;
    color: white;
    font-family: var(--font);
    font-weight: bold;
}
#entrar{
    margin-top: 20px;
    height: 40px;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    
}
#entrar:hover{
    background-color: #011c266c;
    transition: .5s;
}
#semcad{
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    font-family: var(--font);
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #011C26;

}
p{
    margin: 5px;
    font-family: var(--font);
}
@media (max-width: 1900px){
    nav{
        display: flex;
        gap: 30px;
        font-size: 1rem;
    }
    form{
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 600px;
        height: 450px;
        background-image: linear-gradient(to right, var(--cor1), var(--cor5));
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
    }
    #entrar{
        margin-top: 15px;
        height: 30px;
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }
    #prob{
        font-size: 1.2rem;
    }
    #semcad{
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        font-family: var(--font);
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 1024px){
    nav{
        display: flex;
        gap: 15px;
        font-size: 1rem;
    }
   
    form{
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 20px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 600px;
        background-image: linear-gradient(to right, var(--cor1), var(--cor5));
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 54px 0.5px var(--cor1);
    }
    #txt1{
        font-family: var(--font2);
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 670px){
    form{
        position: absolute;
        top: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 700px;
    }
    #ps{
        font-size: 2rem;
       }
       #p2{
        display: none;
    }
    #bem-vindo{
        display: flex;
        width: 100%;
        flex-direction: column;
        order: 2;
    }
    #bem-vindo > span > p {
        text-align: justify ;
        font-size: .7rem;
    }
    #bem-vindo > span{
        display: flex;
        justify-content: center;
    }
    #txt1{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: inline;
    }
    h2{
       margin-top: 50px;
    }
    img{
        margin-left: 20px;
    }
   #lupa{
    display: flex;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    
   }
    
    
}
@media (max-width: 517px){
    form{
        position: absolute;
        top: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 700px;
       
    }
    main{
        
        width: 100%;
    }
    #bem-vindo{
        display: flex;
        width: 100%;
        flex-direction: column;
        order: 2;
    }
    #bem-vindo > span > p {
        text-align: justify ;
        font-size: .7rem;
    }
    #bem-vindo > span{
        display: flex;
        justify-content: center;
    }
    #txt1{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: inline;
    }
    h2{
       margin-top: 50px;
    }
    img{
        margin-left: 20px;
    }
   #lupa{
    display: flex;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
   }
  #nav{
    margin: 0px ;
    gap: 10px;
  }
    
}
@media(max-height: 900px){
    main{
        position: relative;
        top: 30%;
    }
    header{
        height: 150px;
    }
    #logo > #ps {
        font-size: 1.5rem;
    }
    img{
        width: 50px;
        height: 50px;
    }
    #bnav{
        margin-top: -15px;
    }
}