@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
:root{
    --font:"Mea Culpa", serif;
    --cor1:#06080D;
    --cor2:#111526;
    --cor3: #1A1F33;
    --cor4:#363E59;
    --cor5: #99A8CC;
}
body, html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    position: relative;
    background-attachment: fixed;
}
header{
    width: 90%;
    margin: auto;
    transform: translate(0px, 10px);
    padding: 20px 0px 20px 0px;
    background-color: transparent;
    
    
}
#logo{
    margin-left: 20px;
    color: aliceblue;
}
#logo>h1{
    font-family: var(--font);
    font-size: 3rem;
}
#logo > h1, p{
    margin: 0;
}
nav{
    display: flex;
    gap: 40px;
    margin-left: 20px;
}
nav > a{
   color: white;
   text-decoration: none;
   font-weight: bold;
}

#dnav{
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
    
}
main{
    display: flex;
    justify-content: space-between;
    width: 90% ;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    
}
#profile{
    text-align: center;
}
main > div > h1, p{
    margin: 0px;
    padding: 20px;
}

#apresentação{
    width: 50%;
    color: white;
    padding: 20px ;
}
#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: white;
    background-color: #1A1F33;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#email, #pass{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 10px;
}
#email{
    margin-top: 40px;
}
#mail, #ipass{
    position: relative;
    order: 2;
    height: 25px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 7px;
    outline: 0;
    width: 300px;
    height: 35px;
}

label span{
    position: relative;
    display: inline-block;
    transition: .5s;
}
input:focus ~ label span{
    transition: .5s;
    transform: translateY(-10px);
}
#profile > img {
    width: 150px;
    height: 150px;
}
#entrar{
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 7px;
    outline: 0;
    color: white;
    font-weight: bold;
}


img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
form > p{
    text-align: center;
}
#cad{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: auto;
}
@media(max-width: 1024px){
    #mail, #ipass {
        margin: auto;
        width: 150px;
        
    }
    label {
        margin-left: 20px ;
    }
    #entrar{
        margin-top: 30px;
        width: 150px;
        height: 40px;
    }
}
@media(max-width: 530px){
    header{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: -20px;
    }
    header nav a{
        font-size: .7rem;
    }
   
    nav{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    #apresentação{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    #profile  img{
        width: 100px;
        height: 100px;
    }
    #form-container{
        width: 100%;
    }
    #mail, #ipass, #entrar{
        width: 270px;
    }
    label {
        margin-left: 0px ;
    }
    #p1{
        font-size: 0.7rem;
    }
    #p2{
        display: none;
    }
    #logo{
        position: relative;
        top: -30px;
    }
}